<form class="form-inline mb-3">
    <a class="btn" href="#admin/formations/new">Nouvelle formation</a>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Titre</th>
        <th>Date</th>
        <th>Heure</th>
    </tr>
    </thead>
    <tbody>
    {{#each formations}}
        <tr>
            <td><a href="#admin/formations/{{id}}">{{id}}</a></td>
            <td>{{nom}}</td>
            <td>{{plage_horaire.plage_unique.date}}</td>
            <td>{{plage_horaire.heuredebut}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
