<form class="form-inline mb-3">
    <a href="#admin/comptes/new" class="btn">Nouveau compte</a>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Nom & prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Fonction</th>
    </tr>
    </thead>
    <tbody>
    {{#each comptes}}
        <tr>
            <td>{{id}}</td>
            <td><a href="#admin/comptes/{{id}}">{{prenom}} {{nom}}</a></td>
            <td>{{telephone}}</td>
            <td>{{email}}</td>
            <td>{{fonction}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>