<form class="form-inline mb-3 d-flex">
    <a class="btn mr-auto" href="#admin/seniors/new">Nouveau compte senior</a>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutTous" value="" checked>
        <label class="form-check-label" for="statutTous">Tous</label>
    </div>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutActif" value="Actif">
        <label class="form-check-label" for="statutActif">Actif</label>
    </div>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutTraitement" value="En traitement">
        <label class="form-check-label" for="statutTraitement">En traitement</label>
    </div>
    <input type="text" class="form-control mr-2" id="recherche" name="recherche" placeholder="Rechercher...">
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom & prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each seniors}}
        <tr>
            <td>{{prenom}} {{nom}}</td>
            <td>{{telephone}}</td>
            <td>{{email}}</td>
            <td class="text-right">
                <a href="#admin/seniors/{{id}}" class="btn" title="Voir le détail"><i class="fas fa-eye"></i> Voir</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>