<h2>Demandes d'intervention</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Matière</th>
        <th>Date</th>
        <th>Heures</th>
        <th>Accepter</th>
    </tr>
    </thead>
    <tbody>
    <!--{{#each soumission}}
        <tr>
            {{#each this}}
                {{#each this}}
                    {{#if requete.id}}
                    <td><a href="">{{requete.id}}</a></td>


                    <td>{{requete.soumis_par.prenom}} {{requete.soumis_par.nom}}</td>
                    <td>{{requete.matiere.nom}}</td>
                    <td>{{plage_horaire.joursemaine}}, {{plage_horaire.plage_unique.date}}</td>
                    <td>{{plage_horaire.heuredebut}} - {{plage_horaire.heurefin}}</td>
                    <td><a href="#" title="Accepter la demande" id="accepter" data-id="{{id}}"><i class="far fa-check-circle"></i></a></td>
                    {{/if}}
                {{/each}}
            {{/each}}
        </tr>
    {{/each}}-->
    {{#each soumission}}
        <tr>

            <td><a href="">{{id}}</a></td>


            <td>{{requete.soumis_par.prenom}} {{requete.soumis_par.nom}}</td>
            <td>{{requete.matiere.nom}}</td>
            <td>{{requete.plage_horaire.joursemaine}}, {{requete.plage_horaire.plage_unique.date}}</td>
            <td>{{requete.plage_horaire.heuredebut}} - {{requete.plage_horaire.heurefin}}</td>
            <td><a href="#" title="Accepter la demande" id="accepter" data-id="{{id}}"><i class="far fa-check-circle"></i></a></td>

        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Interventions planifiées</h2>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Descriptif</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsFutures}}
        <tr>
            <td>{{id}}</td>
            {{#each this}}
                {{#if requete.soumis_par.id}}
                    <td>{{requete.soumis_par.prenom}} {{requete.soumis_par.nom}}</td>
                    <td>{{requete.matiere.nom}} - {{requete.matiere.description}}</td>
                    <td>{{finprevu}}</td>
                {{/if}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Interventions passées</h2>
<p class="text-warning">Merci de remplir le rapport d'intervention.</p>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Descriptif</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>

    {{#each interventionsPassees}}
        <tr>
            <td>{{id}}</td>
            {{#each this}}
                {{#if requete.soumis_par.id}}
                    <td>{{requete.soumis_par.prenom}} {{requete.soumis_par.nom}}</td>
                    <td>{{requete.matiere.nom}} - {{requete.matiere.description}}</td>
                    <td>{{finprevu}}</td>
                {{/if}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>