<form class="form-inline mb-3">
    <button type="button" class="btn" data-target="admin/comptes/new">Nouveau compte</button>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Nom & prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Fonction</th>
    </tr>
    </thead>
    <tbody>
    {{#each comptes}}
        <tr>
            <td>{{id}}</td>
            <td><span data-target="admin/comptes/{{compte.id}}">{{compte.prenom}} {{compte.nom}}</span></td>
            <td>{{telephone}}</td>
            <td>{{email}}</td>
            <td>{{fonction}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>