<form class="form-inline mb-3">
    <button type="button" class="btn" data-target="admin/formations/new">Nouvelle formation</button>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date | Heure</th>
        <th>Titre</th>
    </tr>
    </thead>
    <tbody>
    {{#each formations}}
        <tr>
            <td>{{id}}</td>
            <td>{{date}} | {{heure}}</td>
            <td><span data-target="admin/seniors/{{senior.id}}">{{nom}}</span></td>
        </tr>
    {{/each}}
    </tbody>
</table>
