<form class="form-inline mb-3 d-flex">
    <a type="button" class="btn" href="#admin/demandes/new">Nouvelle demande d'intervention</a>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Senior</th>
        <th>Statut</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each requetes}}
        <tr>
            <td><a href="#admin/seniors/{{soumis_par.id}}">{{soumis_par.prenom}} {{soumis_par.nom}}</a></td>
            <th>{{statut}}</th>
            <td class="text-right">
                <a href="#admin/demandes/{{id}}" class="btn" title="Voir le détail"><i class="fas fa-eye"></i> Voir</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
