<form class="form-inline mb-3">
    <a href="#admin/comptes/new" class="btn">Nouveau compte</a>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom & prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Fonction</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each comptes}}
        <tr>
            <td>{{prenom}} {{nom}}</td>
            <td>{{telephone}}</td>
            <td>{{email}}</td>
            <td>{{#each roles}}{{title}}{{/each}}</td>
            <td class="text-right">
                <a href="#admin/comptes/{{id}}" class="btn" title="Voir le détail"><i class="fas fa-eye"></i> Voir</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>