<form class="form-inline mb-3">
    <!--<button type="button" class="btn" data-target="admin/comptes/new">Nouveau compte</button>-->
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Nom & prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    {{#each juniors}}
        <tr>
            <td>{{id}}</td>
            <td><span data-target="admin/juniors/{{id}}">{{prenom}} {{nom}}</span></td>
            <td>{{telephone}}</td>
            <td>{{email}}</td>
            <th>{{statut}}</th>
        </tr>
    {{/each}}
    </tbody>
</table>