<h2>Demandes d'intervention</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Matière</th>
        <th>Date</th>
        <th>Heures</th>
        <th>Accepter</th>
    </tr>
    </thead>
    <tbody>
    {{#each demandes}}
        <tr>
            <td><a href="">{{id}}</a></td>
            {{#each this}}
            {{#if soumis_par.id}}

            <td>{{soumis_par.prenom}} {{soumis_par.nom}}</td>
            <td>{{matiere.nom}}</td>
            <td>{{plage_horaire.joursemaine}}, {{plage_horaire.plage_unique.date}}</td>
            <td>{{plage_horaire.heuredebut}} - {{plage_horaire.heurefin}}</td>
            <td><a href="#" title="Accepter la demande" id="accepter" data-id="{{id}}"><i class="far fa-check-circle"></i></a></td>
            {{/if}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Interventions planifiées</h2>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Descriptif</th>
        <th>Adresse</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsFutures}}

        <tr>
            <td>{{id}}</td>
            <td>{{senior.prenom}} {{senior.nom}}</td>
            <td>{{descriptif}}</td>
            {{#with senior.adresse_habitation}}
                <td>{{ligne1}}</td>
            {{/with}}

        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Interventions passées</h2>
<p class="text-warning">Merci de remplir le rapport d'intervention.</p>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Descriptif</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsPassees}}
        <tr>
            <td>{{id}}</td>
            <td>{{senior.prenom}} {{senior.nom}}</td>
            <td>{{description}}</td>
            <td>{{finprevu}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>