<h2>Demandes d'intervention</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Titre</th>
        <th>Senior</th>
        <th>Adresse</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each demandes}}
        <tr>
            <td><a href="">{{id}}</a></td>
            <td>{{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td><a href="#" title="Envoyer un email"><i class="fas fa-envelope"></i></a></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Interventions planifiées</h2>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Descriptif</th>
        <th>Adresse</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsFutures}}
        <tr>
            <td>{{id}}</td>
            <td>{{senior.prenom}} {{senior.nom}}</td>
            <td>{{descriptif}}</td>
            {{#with senior.adresse_habitation}}
                <td>{{ligne1}}</td>
            {{/with}}
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Interventions passées</h2>
<p class="text-warning">Merci de remplir le rapport d'intervention.</p>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Descriptif</th>
        <th>Adresse</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsPassees}}
        <tr>
            <td>{{id}}</td>
            <td>{{senior.prenom}} {{senior.nom}}</td>
            <td>{{descriptif}}</td>
            {{#with senior.adresse_habitation}}
                <td>{{ligne1}}</td>
            {{/with}}
        </tr>
    {{/each}}
    </tbody>
</table>