
<h2>Vos demandes en cours de traitement</h2>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Descriptif</th>
    </tr>
    </thead>
    <tbody>
    {{#each demandes}}
        <tr>
            <td>{{id}}</td>
            <td>{{descriptif}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Vos prochaines visites</h2>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Junior assigné</th>
        <th>Descriptif</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsFutures}}
        <tr>
            <td>{{id}}</td>
            <td>{{junior.prenom}} {{junior.nom}}</td>
            <td>{{descriptif}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Vos prochaines visites</h2>
<table class="table table-striped mb-3">
    <thead>
    <tr>
        <th>N°</th>
        <th>Junior assigné</th>
        <th>Descriptif</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventionsPassees}}
        <tr>
            <td>{{id}}</td>
            <td>{{junior.prenom}} {{junior.nom}}</td>
            <td>{{descriptif}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>