<form class="form-inline mb-3">
    <button type="button" class="btn" data-target="admin/suggestions/new">Nouvelle suggestion</button>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date | Heure</th>
        <th>Senior</th>
        <th>Suggestion</th>
    </tr>
    </thead>
    <tbody>
    {{#each suggestions}}
    <tr>
        <td>{{id}}</td>
        <td>{{date}} | {{heure}}</td>
        <td><span data-target="admin/seniors/{{senior.id}}">{{senior.prenom}} {{senior.nom}}</span></td>
        <td>{{contenu}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
