<form class="form-inline mb-3">
    <a class="btn" href="#admin/suggestions/new">Nouvelle suggestion</a>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date | Heure</th>
        <th>Senior</th>
        <th>Suggestion</th>
    </tr>
    </thead>
    <tbody>
    {{#each suggestions}}
    <tr>
        <td>{{id}}</td>
        <td>{{date}} | {{heure}}</td>
        <td><a href="#admin/seniors/{{senior.id}}">{{senior.prenom}} {{senior.nom}}</a></td>
        <td>{{contenu}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
