<form class="form-inline mb-3 d-flex">
    <button type="button" class="btn mr-auto" data-target="admin/interventions/new">Nouvelle demande d'intervention
    </button>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutTous" value="" checked>
        <label class="form-check-label" for="statutTous">Tous</label>
    </div>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutActif" value="Actif">
        <label class="form-check-label" for="statutActif">Actif</label>
    </div>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutTraitement" value="En traitement">
        <label class="form-check-label" for="statutTraitement">En traitement</label>
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Senior</th>
        <th>Junior</th>
        <th>Date</th>
        <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    {{#each interventions}}
        <tr>
            <td>{{id}}</td>
            <td><span data-target="admin/senior/{{senior.id}}">{{senior.prenom}} {{senior.nom}}</span></td>
            <td><span data-target="admin/junior/{{junior.id}}">{{junior.prenom}} {{junior.nom}}</span></td>
            <th>{{date}} {{heure}}</th>
            <th>{{statut}}</th>
        </tr>
    {{/each}}
    </tbody>
</table>
