<form class="form-inline mb-3 d-flex">
    <div class="form-check ml-auto mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutTous" value="" checked>
        <label class="form-check-label" for="statutTous">Tous</label>
    </div>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutActif" value="Actif">
        <label class="form-check-label" for="statutActif">Actif</label>
    </div>
    <div class="form-check mr-2">
        <input class="form-check-input" name="statut" type="radio" id="statutTraitement" value="En traitement">
        <label class="form-check-label" for="statutTraitement">En traitement</label>
    </div>
    <input type="text" class="form-control mr-2" id="recherche" name="recherche" placeholder="Rechercher...">
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N°</th>
        <th>Nom & prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    {{#each juniors}}
        <tr>
            <td>{{id}}</td>
            <td><span data-target="admin/juniors/{{id}}">{{prenom}} {{nom}}</span></td>
            <td>{{telephone}}</td>
            <td>{{email}}</td>
            <th>{{statut}}</th>
        </tr>
    {{/each}}
    </tbody>
</table>