<!-- Actions -->
<div class="row d-flex">
    <div class="ml-auto">
        <button class="btn">Annuler la demande</button>
    </div>
</div>

<div class="row my-3">
    {{#with requete}}
        <!-- Informations du senior -->
        <div class="col-md-6">
            {{#with soumis_par}}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-center"><h1>Senior</h1></div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#admin/seniors/{{id}}">{{prenom}} {{nom}}</a></li>
                        <li class="list-group-item">{{email}}</li>
                        <li class="list-group-item">{{telephone}}</li>
                    </ul>
                </div>
            {{/with}}
        </div>
        <!-- Informations de la demande -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center"><h1>Demande</h1></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="badge badge-secondary">{{statut}}</span>
                        <span class="badge badge-info" title="{{matiere.description}}">{{matiere.nom}}</span>
                    </li>
                    <li class="list-group-item">{{commentaire}}</li>
                </ul>
            </div>
        </div>
    {{/with}}
</div>

<!-- Choix du junior -->
<h1>Choix d'un junior</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>N°</th>
            <th>Junior</th>
            <th>Trajet (transports publics)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each matching}}
        <tr>
            <td><a href="#admin/juniors/{{user.id}}">{{user.prenom}} {{user.nom}}</a></td>
            <td>{{user.junior.status}}</td>
            <td>{{route.duration}} | {{route.distance}}</td>
            <td><button class="btn choose" data-id="{{user.id}}">Choisir</button></td>
        </tr>
        <tr>
            <td colspan="4">
                {{#each user.junior.matieres}}<span class="badge badge-info mr-1" title="{{description}}">{{nom}}</span>{{/each}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>