<!-- Informations de l'intervention -->
<table class="table">
    <thead>
    <tr>
        <th>Statut</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{statut}}</td>
        <td>{{debutprevu}}</td>
        <td>{{finprevu}}</td>
        <td>
            <button class="btn">Annuler</button>
            <button class="btn">Archiver</button>
        </td>
    </tr>
    </tbody>
</table>

<hr/>

<h2>Demande <span class="badge badge-info" title="{{requete.matiere.description}}">{{requete.matiere.nom}}</span></h2>
<p>{{requete.commentaire}}</p>

<hr/>

<div class="row my-3">
    <!-- Informations du senior -->
    <div class="col-md-6">
        {{#with requete.soumis_par}}
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center"><h1>Senior</h1></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#admin/seniors/{{id}}">{{prenom}} {{nom}}</a></li>
                    <li class="list-group-item">{{email}}</li>
                    <li class="list-group-item">{{telephone}}</li>
                    <!--<li class="list-group-item">// Evaluation par smiley// </li>-->
                </ul>
            </div>
        {{/with}}
    </div>
    <!-- Informations du junior -->
    <div class="col-md-6">
        {{#with junior_affecte}}
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center"><h1>Junior</h1></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#admin/juniors/{{id}}">{{prenom}} {{nom}}</a></li>
                    <li class="list-group-item">{{email}}</li>
                    <li class="list-group-item">{{telephone}}</li>
                    <!--<li class="list-group-item">// Evaluation par smiley //</li>-->
                </ul>
            </div>
        {{/with}}
    </div>
</div>

<!--<hr/>-->

<!-- Rapport d'intervention -->
<!-- <h2>// Rapport d'intervention //</h2>-->